.#{$checkboxNative-component} {
  width: 100%;
  display: block;
  position: relative;

  // Required for IE11 (Must set property then unset it of pseudo element)
  label:focus {
    &::after {
      text-decoration: underline;
    }
    &::after {
      text-decoration: none;
    }
  }

  &__checkbox,
  &__radio {
    display: inline-block;
    position: relative;
    padding: 0 0 0.5rem 1.6rem;
    cursor: pointer;
    line-height: 1.4;
    margin: 0 1rem;
    text-align: left;
    font-size: 1.15rem;
    font-weight: 300;
    outline: none;
    &:last-of-type {
      border-bottom: none;
    }
    > span {
      position: relative;
      color: $primary-blue;
      font-weight: 400;
    }
    input {
      visibility: hidden;
      position: fixed;
      top: -99999;
    }
    &:before,
    &:after {
      position: absolute;
      left: -1rem;
      width: 1.5rem;
      height: 1.5rem;
      transition: opacity, background-color, 150ms ease-in-out;
    }
    &:before {
      content: '';
      border: 1px solid $gray-300;
      background-color: $white;
      width: 1.75rem;
      height: 1.75rem;
      left: -1rem;
    }
    &:after {
      color: $primary-blue;
      opacity: 0;
      margin-left: 0.3rem;
      top: 0;
    }
  }

  &__radio {
    width: calc(25% - 2.6rem);

    > span {
      font-size: 1.65rem;
    }
    &:before {
      border-radius: 50%;
      top: 0.3rem;
    }
    &:after {
      margin-top: 0.4rem;
      content: '';
    }
    &--checked {
      &:before {
        background-color: $primary-blue;
        border-color: $primary-blue;
      }
      &:after {
        opacity: 1;
      }
    }
  }

  &__checkbox {
    width: calc(50% - 2.6rem);
    vertical-align: top;

    > span {
      font-size: 1.4rem;
    }
    &:before {
      border-radius: 0.25rem;
      top: 0.2rem;
    }
    &:after {
      margin-top: 0.2rem;
      content: $fa-var-check;
      font-family: $icon-family-fontawesome;
    }
    &--checked {
      &:before {
        background-color: $white;
        border-color: $primary-blue;
      }
      &:after {
        opacity: 1;
      }
    }
  }

}
