.textInputQuestion {
  margin-bottom: 1rem;

  input {
    @include questionInputLike();
    font-weight: 600 !important;
  }

  @include media-breakpoint-up(md) {
    display: inline-block !important;
    width: 32.33% !important;
    margin-right: 1%;
  }

  h4 {
    margin: 0.5rem 0 !important;
  }
}
