
@mixin questionTextLike() {
  color: $primary-blue;
  margin: 0 0 2rem;
  font-weight: 600;
  font-size: $question-text-font-size;
}

@mixin questionInputLike() {
  @extend .form-control;
}

@mixin subtitleLike() {
  text-transform: uppercase;
  letter-spacing: .75rem;
  font-size: 1rem;
  color: $gray-500;
  font-weight: 700;
}
