.#{$checkboxRadioIcon-component} {

  &__cssIcons {
    display: block;
    background-size: 2.5rem;
    height: 10rem;
    width: 10rem;
    background-repeat: no-repeat;
  }
  .clipboard {
    background-image: url(/classpath/assets/images/icons/clipboard.svg);
  }
  .mortgage {
    background-image: url(/classpath/assets/images/icons/mortgage.svg);
  }
  .couple {
    background-image: url(/classpath/assets/images/icons/couple.svg);
  }
  .education {
    background-image: url(/classpath/assets/images/icons/education.svg);
  }
  .loan {
    background-image: url(/classpath/assets/images/icons/loan.svg);
  }
  .medical {
    background-image: url(/classpath/assets/images/icons/medical.svg);
  }
  .credit-card {
    background-image: url(/classpath/assets/images/icons/credit-card.svg);
  }
  .money {
    background-image: url(/classpath/assets/images/icons/money.svg);
  }
  .rent {
    background-image: url(/classpath/assets/images/icons/rent.svg);
  }
  .washing-hands {
    background-image: url(/classpath/assets/images/icons/washing-hands.svg);
  }
  .accounting {
    background-image: url(/classpath/assets/images/icons/accounting.svg);
  }
  .calendar-money {
    background-image: url(/classpath/assets/images/icons/calendar-money.svg);
  }
  .diagram {
    background-image: url(/classpath/assets/images/icons/diagram.svg);
  }
  .growing-money {
    background-image: url(/classpath/assets/images/icons/growing-money.svg);
  }
  .hands {
    background-image: url(/classpath/assets/images/icons/hands.svg);
  }
}
