
@include appModifier($neuro-landing-page) {
  @include component($neuro-page-container){
    background-color: $white;
  }

  @include component($header-component){
    display: none !important;
  }
}

.#{$neuro-landing-page} {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .body {
    width: 60vw;
    height: 100%;
    display: inline-block;
    padding: 0.5rem 0.5rem;
    text-align: left;

    @include media-breakpoint-up(md) {
      padding: 6rem 6rem;
    }
  }

  .tip {
    width: 40vw;
    height: 100%;
    display: inline-block;
    background: url(/classpath/assets/images/landing-bg.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  &__content {
    @extend .make-animated;
    text-align: left;

    @include onLoadPageTransition(){
      animation-name: fadeIn;
      animation-delay: $animation-duration-default;
    }
    @include onEnterTransition(){
      animation-name: fadeIn;
      animation-delay: $animation-duration-default;
    }
    @include onExitTransition(){
      animation-name: fadeOut;
    }

    > * {
      display: block;
      margin: 0 0 1rem 0;
    }

    .logo {
      padding: 0;
      background: transparent url(/classpath/assets/images/ignite.svg) no-repeat padding-box;
      background-size: 40% auto;
      height: 2rem;
      width: 100%;

      @include media-breakpoint-up(md) {
        height: 10rem;
      }
    }

    h1 {
      font-weight: 800;
      font-size: 2rem;
      color: $primary-blue;
      width: 100%;

      @include media-breakpoint-up(xl) {
        font-size: 4rem;
      }
    }

    h4 {
      font-weight: 400;
      font-size: 1.5rem;
      color: $primary-blue;
      width: 100%;
      margin: 0 0 3rem 0;

      @include media-breakpoint-up(xl) {
        width: 50%;
        font-size: 2rem;
      }
    }

    button {
      color: $white;
      background-color: $dark-orange;
      font-size: inherit;
      font-weight: 600;
      border: none;

      @include media-breakpoint-up(md) {
        font-size: 1.5rem;
      }

      i {
        color: $primary-blue;
        padding: 0 0.5rem;
        font-size: inherit;

        @include media-breakpoint-up(md) {
          padding: 0 1rem;
          font-size: 2rem;
          vertical-align: text-top;
        }
      }
    }
  }
}
