
@include appModifier($neuro-survey-page) {
  @include component($neuro-page-container){
    background-color: $white;
  }
}

.#{$neuro-survey-page} {
  @extend .make-animated;
  position: relative;
  transition: all 150ms ease-in-out;
  width: 100%;
  height: calc(100vh - #{$header-height});
  top: $header-height;
  display: flex;
  @include onLoadPageTransition(true){
    animation-name: fadeIn;
    animation-delay: $animation-duration-default;
  }
  @include onEnterTransitionWhenAppGoesForward(true){
    animation-name: fadeInFromRight;
    animation-delay: $animation-duration-default;
  }
  @include onEnterTransitionWhenAppGoesBack(true){
    animation-name: fadeInFromLeft;
    animation-delay: $animation-duration-default;
  }
  @include onExitTransition(true){
    animation-name: fadeOut;
  }

  .tip {
    background: $primary-blue;
    width: 20vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $white;
    padding: 0 3.5rem 0 2.5rem;
  }

  .body {
    width: 80vw;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 4rem;
  }

  .questionGroups {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    overflow-y: auto;

    .question {
      &__text {
        margin-top: 2rem;
        font-weight: 300;
        font-size: 1.6rem;
      }
    }
  }
}
