
/**
 * ----------------------------
 * Grid Breakpoints
 * ----------------------------
 */
$grid-breakpoints: (
  xs: 0px,
  sm: 600px,
  md: 768px,
  lg: 1024px,
  xl: 1279px,
  xxl: 1449px
);

/**
 * ----------------------------
 * Guide Colors
 * ----------------------------
 */
$body-color: #3b3e47;
$body-bg: #f9f9f9;
$primary-blue: #27678e;
$light-blue: #ddd;
$dark-orange: #FBAD18;

/**
 * ----------------------------
 * Bootstrap Colors
 * ----------------------------
 */
$gray-100: #f1f1f1;
$gray-200: #e6e6e6;
$gray-300: #c8c8c8;
$gray-400: #BEB6AF;
$gray-500: #7D7773;
$gray-600: #555555;
$gray-700: #4e4e4e;
$gray-800: #333333;
$gray-900: #212121;
$gray-dark: #3D3A35;
$gray-light: #77787b;
$gray-lighter: #ebebeb;

/**
 * ----------------------------
 * Fonts
 * ----------------------------
 */
$font-path: '/classpath/assets/fonts';
$font-size-default: 10px;
$fa-font-size-base: 2rem;
$fa-font-path: $font-path;
$ionicons-font-path: $font-path;

$icon-family-fontawesome: FontAwesome;
$font-family-base: 'Source Sans Pro', sans-serif;
$font-family-alt: sans-serif, Arial;

/**
 * ----------------------------
 * Component Class References
 * ----------------------------
 */
$calculated-component: 'calculatedInput';
$checkboxRadioIcon-component: 'checkboxRadioIcon';
$checkboxRadioButton-component: 'checkboxRadioButton';
$checkboxNative-component: 'checkboxRadioNative';
$dropdown-component: 'dropdown';
$number-format-component: 'number';
$textInput-component: 'textInput';
$header-component: 'header';
$footer-component: 'footer';


/**
 * ----------------------------
 * Content Variables
 * ----------------------------
 */
$question-text-font-size: 2rem;
$question-answer-font-size: 1.1rem;
$question-input-font-size: 1.4rem;

$content-width-pixels: 1200px;
$content-width: 85%;
$content-width-sm: 90%;
$content-side-spacing: 4rem;

$animation-duration-default: .5s;
$header-height: 5rem;
$footer-height: 2.5rem;
$navigation-height: 5rem;
$transition-default: $animation-duration-default ease all;
