
.#{$neuro-question-group-component} {
  position: relative;
  width: 100%;
  margin: 0 0.25rem;

  &__questions {
    display: flex;
  }

  &__header{
    @include questionTextLike();
  }

  > * {
    margin-bottom: 0.2rem;

    @include media-breakpoint-up(md) {
      margin-bottom: 2.5rem;
    }
  }
}
